<article id="details" *ngIf="beer; else noInfo">
  <button class="push-right" (click)="goBack()">go back</button>
  <section class="flex">
    <div id="beer-spec" class="favorite-icon" (click)="addFavorite()"></div>
    <img class="col-3 img-beer" src="{{beer.image_url}}" alt="an image of the beer">
    <div class="col-9 text-left">
      <h1>{{beer.name}}</h1>
      <h2>{{beer.tagline}}</h2>
      <p><b>first_brewed </b>{{beer.first_brewed}}</p>
      <p><b>Description:</b>{{beer.description}}</p>
      <p><b>alcohol:</b> {{beer.abv}}%</p>
      <p><b>Food pairing:</b> {{beer.food_pairing}}</p>
      <p><b>Brewers tips:</b> {{beer.brewers_tips}}</p>
    </div>
  </section>

</article>
<ng-template #noInfo>
  <p>Sorry, no information available</p>
  <button (click)="goBack()">go back</button>
</ng-template>


