header
    text-align: center
    background: #3867ff
    color: white

    nav
        padding: 15px

        a
            margin: 15px
            color: white!important
            margin-top: 10px

h1
    margin: 0

h2
    display: inline

#search-component
    text-align: center
    margin-top: 50px

@media only (max-width: 500px)
    h1, h2, a
        margin: auto
        width: 100%
    h2
        font-size: 18px