.beer-info
    width:  340px
    height: 250px
    border: 1px solid grey
    box-shadow: 3px 2px 10px grey
    text-align: left
    display: flex
    flex-wrap: wrap
    overflow: hidden
    margin: 10px auto 10px
    position: relative

    img
        width: 17%
        height: auto
        margin: auto

    h2
        width: 100%
        margin: 0

    .description
        width: 60%
        margin: auto

.flex
    display: flex
    flex-wrap: wrap
    margin-top: 30px

.favorite-icon
    position: absolute
    right: 8px
    color: blue
    font-size: 25px
    cursor: pointer

    &:after
        content: '☆'

    &:hover:after
        content: '★'

.favorite
    &:after
        content: '★' !important

.push-right
    float: right